.intro {
    background-color: white;
    display: flex;

    .left {
        flex: 0.5;
        overflow: hidden;

        .imgContainer {
            width: 700px;
            height: 700px;
            background-color: crimson;
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            float: right;

            img {
                height: 90%;
            }
        }
    }
    .right {
        flex: 0.5;
        position: relative;

        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 60px;
                margin: 10px 0;
            }
            h2 {
                font-size: 35px;
            }
            h3 {
                font-size: 30px;
                span {
                    font-size: inherit;
                    color: crimson;
                }
            }
            .ityped-cursor {
                font-size: 2.2rem;
                opacity: 1;
                animation: blink .5s infinite;
                animation-direction: alternate;
            }

            @keyframes blink {
                100% {
                    opacity: 0;
                }
            }
        }

        a {
            position: absolute;
            bottom: 10px;
            font-size: 50px;
            color: inherit;
            // left: 50%;
            animation: arrowWiggle 2s infinite;
            transition: all 2s ease;
        }

        @keyframes arrowWiggle {
            0% {
                transform: rotate(0deg);
            }

            25% {
                transform: rotate(-10deg);
            }

            50% {
                transform: rotate(20deg);
            }

            75% {
                transform: rotate(-5deg);
            }

            100% {
                transform: rotate(0deg);
            }
        }
    }
}
